<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MagicPost</title>
    {{!-- <link rel="stylesheet" href="/css/transation_staff.css"> --}}
    <link rel="stylesheet" href="/css/hoadon.css">
    
</head>
<body>
    <div class="hoadon_container">
        <div class="logo_qr_container">
            <div class="logo_hoadon">
                <img src="/img/logo.png" alt="">
            </div>
            <div class="qr_hoadon">
                <img src="/img/logo.png" alt="">
                <div class="code_hoadon">
                    <h3>{{parcel._id}}</h3>
                </div>
            </div>
        </div>
        <div class="hoadon_content">
            <div class="hoadon_left">
                <div class="info_customer">
                    <div class="name_customer">
                        <h3>1. Họ tên địa chỉ người gửi</h1>
                        <span>{{parcel.send_name}}</span>
                        <br>
                        <span>{{parcel.send_address}}</span>
                    </div>
                    <div class="other_info">
                        <div class="phone_cus type_flex">
                            <h3>Điện thoại:</h3>
                            <span>{{parcel.send_phone_number}}</span>
                        </div>
                        <div class="postal_code type_flex">
                            <h3>Mã bưu chính:</h3>
                            <span>{{parcel.send_postal_code}}</span>
                        </div>
                    </div>
                </div>
                <div class="info_parcel">
                    <div class="info_sectors">
                        <h3>3. Loại hàng gửi:</h3>
                        <div class="sectors_checkbox" id="loai_hang">
                            <div class="box_tailieu">
                                <input type="checkbox" name="tai_lieu" id="tai_lieu" checked disabled>
                                <label for="tai_lieu">Tài Liệu</label>
                            </div>
                            <div class="box_hanghoa">
                                <input type="checkbox" name="hang_hoa" id="hang_hoa" disabled>
                                <label for="hang_hoa">Hàng Hóa</label>
                            </div>
                        </div>
                    </div>
                    <div class="info_table">
                        <h3>4. Nội dung trị giá bưu gửi:</h3>
                        <div class="table_content">
                            <table id="parcelTable">
                                <thead>
                                    <tr>
                                        <th>Nội dung</th>
                                        <th>Số lượng</th>
                                        <th>Trị giá</th>
                                        <th>Giấy tờ đi kèm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- <tr>
                                        <td>Dong ho</td>
                                        <td>1</td>
                                        <td>1000000</td>
                                        <td></td>
                                    </tr>    --}}
                                    {{#each parcel.list_item}}
                                    <tr class="parcel_item">
                                        <td>{{this.name}}</td>
                                        <td>{{this.so_luong}}</td>
                                        <td>{{this.tri_gia}}</td>
                                        <td>{{this.giay_to}}</td>
                                    </tr>
                                    {{/each}}                               
                                    <tr id="sum_item">
                                        <td style="font-size: 16px; font-weight: 600;">Tổng</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="other_service">
                        <h3>5. Dịch vụ đặc biệt/Cộng thêm:</h3>
                        <p style="height: 50px; word-wrap: break-word;" class="other_service_content">{{parcel.dich_vu}}</p>
                    </div>
                    <div class="sender_instructions" id="chi_dan_gui">
                        <h3>6. Chỉ dẫn của người gửi khi không phát được bưu gửi:</h3>
                        <div class="box_checkbox">
                            <div class="instructions_box">
                                <input type="checkbox" name="chuyen_hoan_ngay" id="chuyen_hoan_ngay" checked disabled>
                                <label for="chuyen_hoan_ngay">Chuyển hoàn ngay</label> 
                            </div>
                            <div class="instructions_box">
                                <input type="checkbox" name="goi_dien" id="goi_dien" disabled>
                                <label for="goi_dien">Gọi điện cho người gửi/BC gửi</label> 
                            </div>
                            <div class="instructions_box">
                                <input type="checkbox" name="huy" id="huy" disabled>
                                <label for="huy">Hủy</label> 
                            </div>
                        </div>
                        <div class="box_checkbox">
                            <div class="instructions_box">
                                <input type="checkbox" name="chuyen_hoan_truoc_ngay" id="chuyen_hoan_truoc_ngay" disabled>
                                <label for="chuyen_hoan_ngay">Chuyển hoàn trước ngày</label> 
                            </div>
                            <div class="instructions_box">
                                <input type="checkbox" name="chuyen_hoan_khi_het_tg" id="chuyen_hoan_khi_het_tg" disabled>
                                <label for="chuyen_hoan_khi_het_tg">Chuyển hoàn khi hết thời gian lưu trữ</label> 
                            </div>
                        </div>
                    </div>
                    <div class="commitment">
                        <div class="user_commit">
                            <h3>7. Cam kết của người gửi:</h3>
                            <span>Tôi chấp nhận các điều khoản tại mặt sau của phiếu gửi
                                và cam đoan bưu gửi này không chứa những mặt hàng nguy hiểm, cấm gửi.
                                Trường hợp không phát được, hãy thực hiện chỉ dẫn ở mục 6, tôi sẽ trả cước chuyển hoàn.
                            </span>
                        </div>
                        <div class="time_signature">
                            <div class="time">
                                <h3>8. Ngày giờ gửi:</h3>
                                <span>{{parcel.thoi_gian}}</span>
                            </div>
                            <div class="signature">
                                <h3>Chữ ký người gửi</h3>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hoadon_right">
                <div class="info_customer">
                    <div class="name_customer">
                        <h3>2. Họ tên địa chỉ người nhận</h1>
                        <span>{{parcel.recipient_name}}</span>
                        <br>
                        <span>{{parcel.recipient_address}}</span>
                    </div>
                    <div class="other_info">
                        <div class="phone_cus type_flex">
                            <h3>Điện thoại:</h3>
                            <span>{{parcel.recipient_phone_number}}</span>
                        </div>
                        <div class="postal_code type_flex">
                            <h3>Mã bưu chính:</h3>
                            <span>{{parcel.recipient_postal_code}}</span>
                        </div>
                    </div>
                </div>
                <div class="info_costs_weight">
                    <div class="costs">
                        <div class="cost">
                            <h3>9. Cước:</h3>
                            <div class="cost_item">
                                <span>a.Cước chính:</span>
                                <span>{{parcel.cuoc_chinh}}</span>
                            </div>
                            <div class="cost_item">
                                <span>b.Phụ phí:</span>
                                <span>{{parcel.phu_thu}}</span>
                            </div>
                            <div class="cost_item">
                                <span>c.Tổng thu(bao gồm VAT):</span>
                                <span>{{sum parcel.cuoc_chinh parcel.phu_thu}}</span>
                            </div>
                        </div>
                        <div class="COD">
                            <h3>11. Thu của người nhận:</h3>
                            <div class="cost_item">
                                <span>COD:</span>
                                {{!-- <span>{{parcel.thu_ho}}</span> --}}
                                <span>{{#if parcel.thu_ho}}
                                            {{parcel.thu_ho}}
                                      {{else}}
                                            0
                                      {{/if}}
                                </span>
                            </div>  
                            <div class="cost_item">
                                <span>Thu khác:</span>
                                <span>0</span>
                            </div>
                            <div class="cost_item">
                                <span>Tổng thu:</span>
                                <span>{{#if parcel.thu_ho}}
                                            {{parcel.thu_ho}}
                                      {{else}}
                                            0
                                      {{/if}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="weight_">
                        <div class="weight">
                            <h3>10. Khối lượng(kg):</h3>
                            <div class="cost_item">
                                <span>Khối lượng thực tế:</span>
                                <span>{{#if parcel.weight}}
                                            {{parcel.weight}}
                                      {{else}}
                                            0
                                      {{/if}}
                                </span>
                            </div>
                            <div class="cost_item">
                                <span>Khối lượng quy đổi:</span>
                                <span>{{#if parcel.weight}}
                                            {{parcel.weight}}
                                      {{else}}
                                            0
                                      {{/if}}
                                </span>
                            </div>
                        </div>
                        <div class="note_weight" style="height: 158px;">
                            <h3>12. Chú dẫn nghiệp vụ:</h3>
                            <span>{{parcel.chu_dan_nv}}</span>
                        </div>
                    </div>
                </div>
                <div class="stamped">
                    <div class="postal_stamped">
                        <h3 style="margin-left: 45px;">13. Bưu cục chấp nhận</h3>
                        <span style="margin-left: 85px;">Chữ ký GDV nhận</span>
                    </div>
                    <div class="time_stamped">
                        <h3 style="margin-left:12px;">14. Ngày giờ nhận:</h3>
                        <span>__h__/__/__/20__</span>
                        <br>
                        <span>Người nhận/Người được ủy quyền nhận</span>
                        <br>
                        <span>(Ký, ghi rõ họ tên)</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="submit_hoadon">
        <div class="btn_submit_hoadon">
            <input type="button" value="Xác nhận">
        </div>
    </div>
</body>
<script>
    document.getElementsByClassName('btn_submit_hoadon')[0].addEventListener("click", function(event) {
        window.location.href = '/transaction_staff';
    })
</script>
<script>
    var sum = document.getElementById('sum_item');
    var list_item = document.getElementsByClassName('parcel_item');
    list_item = Array.from(list_item);
    if(list_item.length > 0) {
        list_item.forEach(item => {
            sum.getElementsByTagName('td')[1].innerText = parseInt(sum.getElementsByTagName('td')[1].innerText) + parseInt(item.getElementsByTagName('td')[1].innerText);
            sum.getElementsByTagName('td')[2].innerText = parseInt(sum.getElementsByTagName('td')[2].innerText) + parseInt(item.getElementsByTagName('td')[2].innerText)*parseInt(item.getElementsByTagName('td')[1].innerText);
        })
    }

    var loai_hang = document.getElementById("loai_hang").getElementsByTagName("input");
    for(var i = 0; i < loai_hang.length; i++) {
        if(i == {{parcel.loai_hang}}) { 
            loai_hang[i].setAttribute("checked", "checked");
        }else {
            loai_hang[i].removeAttribute("checked");
        }

    }

    var chi_dan_gui = document.getElementById("chi_dan_gui").getElementsByTagName("input");
    for(var i = 0; i < chi_dan_gui.length; i++) {
        if(i == {{parcel.chi_dan_gui}}) {
            chi_dan_gui[i].setAttribute("checked", "checked");
        } else {
            chi_dan_gui[i].removeAttribute("checked");
        }
    }
</script>
</html>