<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/transation_staff.css">
</head>
<body>
    <div class="xac_nhan_chi_tiet_tui_container">
        <div class="xac_nhan_title">
            <h2>XÁC NHẬN CHI TIẾT TÚI HÀNG</h2>
        </div>
        <div class="main_content_xac_nhan">
            <div class="ma_tui_hang">
                <label for="ma_tui_hang">Mã túi hàng: </label>
                <input type="text" name="ma_tui_hang" id="ma_tui_hang" value={{data1.code_tracking}} readonly>
            </div>
            <div class="thong_tin_buu_cuc_gui_nhan">
                <div class="ma_buu_cuc">
                    <label for="buu_cuc_gui">Bưu cục gửi: </label>
                    <input type="text" name="buu_cuc_gui" id="buu_cuc_gui" value={{data1.send_postal_code}} readonly>
                </div>
                <div class="ma_buu_cuc">
                    <label for="buu_cuc_nhan">Bưu cục nhận: </label>
                    <input type="text" name="buu_cuc_nhan" id="buu_cuc_nhan" value={{data1.receives_postal_code}} readonly>
                </div>
            </div>
            <div class="ngay_gui_tui" style="padding: 15px;">
                <span>Ngày gửi: </span>
                <span id="Ngay_gui_tui">{{data1.ngay_gui}}</span>
            </div>
            <div class="product_list">
                <table id="product_list_table">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Ngày tạo</th>
                            <th>Xác nhận</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each product_list}}
                        <tr>
                            <td>{{this._id}}</td>
                            <td>{{this.send_name}}</td>
                            <td>
                                <span>{{this.ngay}}</span>
                                <span>{{this.gio}}</span>
                            </td>
                            <td>
                                {{#if this.check}}
                                    <span class="">Đã xác nhận</span>
                                {{else}}
                                <div class="xac_nhan_item" code_tracking={{this._id}} style="height: 35px;">
                                    <input type="button" class="item_da_nhan" value="Xác nhận">
                                </div>
                                {{/if}}
                            </td> 
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="btn_xac_nhan_tui_hang">
                <div class="btn_xac_nhan_full_item">
                    <input type="button" value="Hoàn tất">
                </div>
            </div>
        </div>

    </div>
    <div class="Order_Success hidden" id="Order_Success">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open" 
            style="position: fixed; inset: 0px; background-color: rgba(39, 39, 42, 0.7); z-index: 999;">
            <div class="ReactModal__Content ReactModal__Content--after-open" 
                tabindex="-1" role="dialog" aria-modal="true" 
                style="position: absolute; inset: 50% 40px auto 50%; border: 1px solid rgb(204, 204, 204); 
                        background: rgb(255, 255, 255); overflow: auto; border-radius: 8px; outline: none; 
                        padding: 16px; width: 311px; transform: translate(-50%, -50%); background-color:">
                <div class="styles__StyledDialog-sc-10typcj-0 Pvpwm">
                    <div class="dialog-content" style="color: rgb(56, 56, 61); margin-bottom: 24px; display: flex;">
                        {{!-- <svg width="24" height="24" class="dialog-content__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px; flex-shrink: 0;"> --}}
                            <img src="/img/success_icon.png" alt="order_success" width="24" height="24" style="margin-right:10px;">
                        {{!-- </svg> --}}
                        <div class="dialog-content__text">
                            <div class="dialog-content__title" style="font-size: 16px; line-height: 24px; font-weight: 500; margin-bottom: 8px;">Xác nhận thành công!!!</div>
                            <div class="dialog-content__message" style="font-size: 14px; line-height: 20px; color: rgb(81, 81, 88); word-break: break-word;">Túi hàng đã được cập nhập lại trạng thái.</div>
                        </div>
                    </div>
                    <div class="dialog-control" style="display: flex; text-align: center; font-size: 14px; line-height: 20px; font-weight: 500; -webkit-box-pack: end; justify-content: flex-end;">
                        <div id="order_page" class="dialog-control__button dialog-control__button--main" 
                            style="padding: 8px 16px; border-radius: 4px; height: 36px; 
                                    cursor: pointer; box-sizing: border-box; 
                                    background-color: rgb(11, 116, 229); 
                                    color: rgb(255, 255, 255);">Xác nhận
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Order_failed hidden" id="Order_failed">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open" 
            style="position: fixed; inset: 0px; background-color: rgba(39, 39, 42, 0.7); z-index: 999;">
            <div class="ReactModal__Content ReactModal__Content--after-open" 
                tabindex="-1" role="dialog" aria-modal="true" 
                style="position: absolute; inset: 50% 40px auto 50%; border: 1px solid rgb(204, 204, 204); 
                        background: rgb(255, 255, 255); overflow: auto; border-radius: 8px; outline: none; 
                        padding: 16px; width: 311px; transform: translate(-50%, -50%); background-color:">
                <div class="styles__StyledDialog-sc-10typcj-0 Pvpwm">
                    <div class="dialog-content" style="color: rgb(56, 56, 61); margin-bottom: 24px; display: flex;">
                        {{!-- <svg width="24" height="24" class="dialog-content__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px; flex-shrink: 0;"> --}}
                            <img src="/img/cancel.png" alt="order_failed" width="24" height="24" style="margin-right:10px;">
                        {{!-- </svg> --}}
                        <div class="dialog-content__text">
                            <div class="dialog-content__title" style="font-size: 16px; line-height: 24px; font-weight: 500; margin-bottom: 8px;">Xác nhận thất bại!!!</div>
                            <div class="dialog-content__message" style="font-size: 14px; line-height: 20px; color: rgb(81, 81, 88); word-break: break-word;">Túi hàng chưa được cập nhập lại trạng thái.</div>
                        </div>
                    </div>
                    <div class="dialog-control" style="display: flex; text-align: center; font-size: 14px; line-height: 20px; font-weight: 500; -webkit-box-pack: end; justify-content: flex-end;">
                        <div id="cart_page" class="dialog-control__button dialog-control__button--main" 
                            style="padding: 8px 16px; border-radius: 4px; height: 36px; 
                                    cursor: pointer; box-sizing: border-box; 
                                    background-color: rgb(11, 116, 229); 
                                    color: rgb(255, 255, 255);">Xác nhận</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function() {
        var list_xac_nhan = document.getElementsByClassName("xac_nhan_item");
        list_xac_nhan = Array.from(list_xac_nhan);
        list_xac_nhan.forEach(xac_nhan => {
            xac_nhan.onclick = function(event) {
                var code_tracking = xac_nhan.getAttribute("code_tracking");
                var receives_postal_code = document.getElementById('buu_cuc_nhan').value;
                var parcel_bag_code = document.getElementById('ma_tui_hang').value;
                console.log(parcel_bag_code);
                $.ajax({
                    url: '/transaction_staff/xac_nhan_item',
                    method: 'POST',
                    data: {
                        code_tracking: code_tracking,
                        receives_postal_code: receives_postal_code,
                        parcel_bag_code: parcel_bag_code
                    }
                })
                .done(res => {
                    if(res.message) {
                        xac_nhan_thanh_cong();
                    } else {
                        xac_nhan_that_bai();
                    }
                })
                .fail(err => {

                })
            }
        })
    })
</script>
<script>
    var xac_nhan_thanh_cong = function() {
        var Order_Success = document.getElementById('Order_Success')
        Order_Success.classList.remove('hidden');
        var order_page = document.getElementById('order_page')
        order_page.onclick = function(event) {
            window.location.href = ''
        }
    }

    var xac_nhan_that_bai = function() {
        var Order_failed = document.getElementById('Order_failed')
        Order_failed.classList.remove('hide');
        var cart_page = document.getElementById('cart_page')
        cart_page.onclick = function(event) {
            window.location.href = ''
        }
    }
</script>
<script>
    var btn = document.getElementsByClassName('btn_xac_nhan_full_item')[0];
    btn.onclick = function(event) {
        window.location.href = '/transaction_staff/danh_sach_tui_nhan'
    }
</script>
</html>